
extends layout

block append vars
  - bodyclass = 'article-detail'
  - var thePage = page
  - var theIndex = articles.indexOf(page)

block prepend title
  | #{ page.title + " - "}

block header
  h1= page.title

block content
  article.article
    section.content!= typogr(page.html.replace(/\/pages\//g,'../pages/')).typogrify()
  

block prepend footer
  div.nav
    if (theIndex > 0)
      a.previous(href=env.helpers.makeRelative(relativeTo, articles[theIndex - 1].url)) &#171; Previous
    else
      a.previous &nbsp;
      
    a.index(href=env.helpers.makeRelative(relativeTo, '/')) Home
    
    if (theIndex != articles.length - 1)
      a.next(href=env.helpers.makeRelative(relativeTo, articles[theIndex + 1].url)) Next &#187; 
    else
      a.next &nbsp;
    


